.popover-mask {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
}
.popover-content {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  border-radius: .1rem .1rem 0px 0px;
}